@charset "utf-8";
body {
    font-family: "Lato", sans-serif;
    padding-top: 5.0rem;
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

video.lazy {
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}


.comma:not(:first-child) {
    margin-left: -.3em;  
}
  
/* no need to display empty elements */
.comma:empty {
    display: none;
}

.comma:not(:first-child):before {
    content: ", ";
}

.badge-custom {
    font-size: 100%;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1!important;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2!important;
    }
}


.bgh {
  background-color:  #ffffd0;
}

.venue {
  /* color:  #B55370; */
  /* font-weight: bold; */
}


.classify {
  color:  #d43f6c;
  font-weight: bold;
  font-size: large;
}


.one {
  width: w-100;
  /*height: 160px;*/
  position: relative;
}

.two {
  width: w-100;
  /*height: 160px;*/
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.text-note {
  color: #646e7fbe;
}

a {
    text-decoration: none;
    color: #ea8a73;
}

a:hover {
  text-decoration: none;
}

a.gradient-link {
    text-decoration: none;
    /* font-size: 20px; */
    /* background: linear-gradient(90deg, #ed0808,#ff7e5f, #0841ed,#08ed54); */
    background: linear-gradient(90deg, #0841ed 10%,#9908ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
}

a.gradient-link:hover {
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


a.icon-link {
    text-decoration: none;
    color: #747071;
}


.soft {
    /* border: 0; */
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    /* padding: 0; */
    /* margin: 0; */
  }
  


.blackiconcolor {color:#aaa;}
.rediconcolor {color:#B55370;}
