body {
    margin: 0;
    /*font-family: "Lucida Console", Courier, monospace;*/
}
canvas {
    width: 100%; /* Make the canvas fill the container */
    touch-action: none;
}

#app {
  background: #000;
    font-family: "Lato", sans-serif;
    color: #FFF;
}

#app .v-icon {
    color: #FF5722; /* Example: Deep Orange color */
}

#container {
    margin: 0px auto;
    /*padding: 10px;*/
    background-color: #ddd;
    /*max-width: 1200px;*/
}

.v-application--wrap {
  min-height: unset !important;
}


.v-main {
    flex: 1 0 auto; /* Grow as needed */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content */
}
.v-container, .v-main__wrap {
    padding: 0 !important; /* Remove default padding */
}


#header_div {
    margin: 6px;
}
#videoElement {
    background-color: #666;
}
#result_json {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    /*font-family: monospace;*/
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    -webkit-user-select: all;  /* Chrome 49+ */
    -moz-user-select: all;     /* Firefox 43+ */
    -ms-user-select: all;      /* No support yet */
    user-select: all;          /* Likely future */   
}

.preview_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#button_box {
    display: flex;
    min-width: 180px;
}
.box {
    border-radius: 10px;
    padding: 7px;
    margin: 5px;
    width: 100%; /* Set full width to the parent container */
}
img {
    max-width: 200px;
    max-height: 200px;
}
.thumbnail_box {
    /* display: inline-block; */
    cursor: pointer;
}
.preview_box {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.button {
    background-color: #8cbd99;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 5px 11px;
    margin: 5px 10px;
    text-decoration:none;
}
.button-rate {
    background-color: #829395;
}
.button-rate-selected {
    background-color: #5ed3e7;
}
.button-locked {
    background-color: #dbdbdb;
}
.button-sm {
    display: inline-block;
}
.button:hover {
    filter: saturate(2)
}
.button:active {
    position: relative;
    top: 1px;
}
.button i {
    padding: 0px 12px;
    margin: auto 0;
}
.code {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    white-space: pre-wrap;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 700px;
}
.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 8px;
    outline: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select select::-ms-expand {
    display: none;
}
.select select:hover, .select select:focus {
    color: #000000;
    background: #cccccc;
}
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}